body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

#filter
{
    width: 500px;
    height: 500px;
    background: url(image/salu.jpg)no-repeat;
    background-size: 500px 500px;
    margin-left: 30%;
    margin-top: 5%;
    -webkit-filter: opacity(0.1);
    filter: opacity(0.1);
}

#filter:hover

{
    width: 500px;
    height: 500px;
    background: url(image/salu.jpg)no-repeat;
    background-size: 500px 500px ;
    margin-left: 30%;
    margin-top: 5%;
    -webkit-filter: opacity(2);
    filter: opacity(2);
}