body
{

   margin: 0;
   padding: 0;
   background-color: lightblue;
   overflow-x: hidden;
   box-sizing: border-box;
 

}

#filter
{
    width: 500px;
    height: 500px;
    background: url(image/rutvik.jpg)no-repeat;
    background-size: 500px 500px;
    margin-left: 30%;
    margin-top: 5%;
    -webkit-filter: drop-shadow(0px 0px 0px black);
    filter: drop-shadow(0px 0px 0px black);
} 

#filter:hover
{
    width: 500px;
    height: 500px;
    background: url(image/rutvik.jpg)no-repeat;
    background-size: 500px 500px;
    margin-left: 30%;
    margin-top: 5%;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter:drop-shadow(0px 10px 10px black);
}